# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать исполняемый файл приложения
todo-app

# Игнорировать настройки редакторов
.vscode/
.idea/

# Игнорировать временные файлы
*.swp
*.bak
*.tmp

# Игнорировать файлы сборки
bin/
dist/

# Игнорировать конфиги с секретами
.env
*.env

# Игнорировать кэш Go
__debug_bin